{{#footer}}
<div class="pkgdown-footer-left">
  {{#left}}{{{.}}}{{/left}}
</div>

<div class="pkgdown-footer-center themakr-footer-suite">
  <p><span class="themakr-footer-pkg">{{#package}}{{name}}{{/package}}</span> is part of {{#yaml}}{{#part_of}}{{{part_of}}}{{/part_of}}{{^part_of}}the <a href="https://cttir.github.io/">CTTIR</a> suite{{/part_of}}{{/yaml}} &middot; <a href="https://github.com/CTTIR">GitHub</a></p>
</div>

<div class="pkgdown-footer-right">
  {{#right}}{{{.}}}{{/right}}
</div>
{{/footer}}
